{{main.userid}}
<div class="container" ng-init="order.getOrdersByUser(main.userid);">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Product</th>
                        <th>Count</th>
                        <th>Cost</th>
                        <th>State</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="orderDetail in order.orders" ng-if="orderDetail != null">
                        <td>{{orderDetail.no}}</td>
                        <td>
                            <div>
                                <div ng-repeat="product in orderDetail.productInOrder">
                                    <div><strong>{{product.name}}</strong></div>
                                    <div style="margin-left: 25px;">Count : <span class="badge">{{product.count}}</span>
                                    </div>
                                    <div style="margin-left: 25px;">Cost : <span
                                            class="badge">{{product.cost | currency}}</span> </div>

                                </div>
                            </div>

                        </td>
                        <td>{{orderDetail.count}}</td>
                        <td>{{orderDetail.cost | currency}}</td>
                        <td>{{orderDetail.state}}</td>
                        <td>
                            <button type="button" class="btn btn-info" ng-click="order.viewOrder(orderDetail._id);">
                                <span class="glyphicon glyphicon-remove"></span> View
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>