<div ng-init="order.getOrders();"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Product</th>
                        <th>Count</th>
                        <th>Cost</th>
                        <th>State</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="order in order.data">
                        <td>{{order.no}}</td>
                        <td>
                            <div>
                                <div ng-repeat="product in order.productInOrder">
                                    <div><strong>{{product.name}}</strong></div>
                                    <div style="margin-left: 25px;">Count : <span class="badge">{{product.count}}</span>
                                    </div>
                                    <div style="margin-left: 25px;">Cost : <span
                                            class="badge">{{product.cost | currency}}</span> </div>

                                </div>
                            </div>

                        </td>
                        <td>{{order.count}}</td>
                        <td>{{order.cost | currency}}</td>
                        <td>{{order.state}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>