
<div data-ng-init="product.getUser();"></div>
<div class="col-lg-4 col-md-6 mb-4" data-ng-repeat="pro in product.dataProduct">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="resources/images/{{pro.image}}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">{{pro.name}}</a>
            </h4>
            <h5>${{pro.cost}}</h5>
            <p class="card-text">{{pro.description}}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
          </div>
        </div>
      </div>

      